.news-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: Verdana, Geneva, sans-serif;
  color: #828282;
}

.gray-arrow {
  display: inline-block;
  margin: 0 2px;
}

.heading-row {
  font-size: 13px;
}

.heading-row a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.info-row {
  font-size: 10px;
}

.url-section {
  font-size: 10px;
  color: #828282;
}
